* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v56_280 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v56_281 {
  width: 100%;
  height: 100%;
  background: rgba(20,33,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v56_282 {
  width: 100%;
  height: 142px;
  background: rgba(255,255,255,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 338px;
  left: 139px;
  border: 1px solid rgba(235,220,197,1);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v56_283 {
  width: 290px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 347px;
  left: 153px;
  font-family: Source Code Pro;
  font-weight: Regular;
  font-size: 24px;
  opacity: 0.75;
  text-align: left;
}
.v56_284 {
  width: 100%;
  height: 92px;
  background: rgba(255,255,255,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 582px;
  left: 139px;
  border: 1px solid rgba(235,220,197,1);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v56_285 {
  width: 936px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 598px;
  left: 153px;
  font-family: Source Code Pro;
  font-weight: Regular;
  font-size: 24px;
  opacity: 0.75;
  text-align: left;
}
.v56_296 {
  width: 365px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 719px;
  left: 209px;
  font-family: Source Code Pro;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v56_309 {
  width: 307px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 719px;
  left: 816px;
  font-family: Source Code Pro;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v56_297 {
  width: 576px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 869px;
  left: 139px;
  font-family: Source Code Pro;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v56_307 {
  width: 595px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 819px;
  left: 139px;
  font-family: Source Code Pro;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v56_298 {
  width: 389px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 46px;
  left: 525px;
  font-family: Source Code Pro;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v56_311 {
  width: 281px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 223px;
  left: 525px;
  font-family: Source Code Pro;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v56_299 {
  width: 108px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 46px;
  left: 1022px;
  font-family: Source Code Pro;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v56_300 {
  width: 152px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 46px;
  left: 91px;
  font-family: Source Code Pro;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
