* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v56_225 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v56_226 {
  width: 100%;
  height: 100%;
  background: rgba(20,33,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v56_227 {
  width: 100%;
  height: 246px;
  background: rgba(255,255,255,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 296px;
  left: 139px;
  border: 1px solid rgba(235,220,197,1);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v56_228 {
  width: 253px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 318px;
  left: 160px;
  font-family: Source Code Pro;
  font-weight: Regular;
  font-size: 24px;
  opacity: 0.75;
  text-align: left;
}
.v56_236 {
  width: 303px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 205px;
  left: 568px;
  font-family: Source Code Pro;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v56_237 {
  width: 307px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 579px;
  left: 190px;
  font-family: Source Code Pro;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v56_246 {
  width: 365px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 579px;
  left: 805px;
  font-family: Source Code Pro;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v56_238 {
  width: 576px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 766px;
  left: 139px;
  font-family: Source Code Pro;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v56_239 {
  width: 749px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 825px;
  left: 139px;
  font-family: Source Code Pro;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v56_240 {
  width: 389px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 46px;
  left: 525px;
  font-family: Source Code Pro;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v56_241 {
  width: 324px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 46px;
  left: 1022px;
  font-family: Source Code Pro;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v56_242 {
  width: 152px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 46px;
  left: 91px;
  font-family: Source Code Pro;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
