* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v55_101 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v55_102 {
  width: 100%;
  height: 100%;
  background: rgba(20,33,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v55_103 {
  width: 832px;
  height: 50px;
  background: rgba(255,255,255,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 323px;
  left: 291px;
  border: 1px solid rgba(235,220,197,1);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v55_104 {
  width: 576px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 331px;
  left: 327px;
  font-family: Source Code Pro;
  font-weight: Regular;
  font-size: 24px;
  opacity: 0.75;
  text-align: left;
}
.v55_105 {
  width: 288px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 137px;
  left: 419px;
  font-family: Source Code Pro;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v55_106 {
  width: 135px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 137px;
  left: 876px;
  font-family: Source Code Pro;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v55_107 {
  width: 116px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 137px;
  left: 1195px;
  font-family: Source Code Pro;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v55_108 {
  width: 173px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 137px;
  left: 91px;
  font-family: Source Code Pro;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v55_114 {
  width: 411px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 231px;
  left: 514px;
  font-family: Source Code Pro;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v55_134 {
  width: 672px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 783px;
  left: 384px;
  font-family: Source Code Pro;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v55_136 {
  width: 269px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 882px;
  left: 327px;
  font-family: Source Code Pro;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v55_138 {
  width: 116px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 882px;
  left: 970px;
  font-family: Source Code Pro;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v55_120 {
  width: 36px;
  height: 31px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 363px;
  left: 1065px;
}
.v55_122 {
  width: 832px;
  height: 50px;
  background: rgba(255,255,255,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 436px;
  left: 291px;
  border: 1px solid rgba(235,220,197,1);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v55_123 {
  width: 576px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 444px;
  left: 327px;
  font-family: Source Code Pro;
  font-weight: Regular;
  font-size: 24px;
  opacity: 0.75;
  text-align: left;
}
.v55_126 {
  width: 832px;
  height: 50px;
  background: rgba(255,255,255,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 549px;
  left: 291px;
  border: 1px solid rgba(235,220,197,1);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v55_127 {
  width: 576px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 557px;
  left: 327px;
  font-family: Source Code Pro;
  font-weight: Regular;
  font-size: 24px;
  opacity: 0.75;
  text-align: left;
}
.v55_130 {
  width: 832px;
  height: 50px;
  background: rgba(255,255,255,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 670px;
  left: 291px;
  border: 1px solid rgba(235,220,197,1);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v55_131 {
  width: 576px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 679px;
  left: 327px;
  font-family: Source Code Pro;
  font-weight: Regular;
  font-size: 24px;
  opacity: 0.75;
  text-align: left;
}
.v55_132 {
  width: 36px;
  height: 31px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 710px;
  left: 1065px;
}
.v55_115 {
  width: 389px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 46px;
  left: 525px;
  font-family: Source Code Pro;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v55_116 {
  width: 303px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 46px;
  left: 1022px;
  font-family: Source Code Pro;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v55_117 {
  width: 152px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 46px;
  left: 91px;
  font-family: Source Code Pro;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
